@model IEnumerable<ToyCorner.Models.ItemType>

@{
    ViewBag.Title = "Index";
}

<h4>Please let us know if you would like any more information about these toys, and thank you.</h4>

<div>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>
<div>

    @foreach (var type in Model)
    {
        <a href="~/Type/Details/@type.TypeID"><h4>@type.TypeDescription</h4></a>
        <p></p>
    }
</div>
